* {
    margin: 0;
}
.form {
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
}

input {
    width: 89%;
}
form {
    display: flex;
    flex-direction: column;
}
